root=true

[Assets/Assetstore/**.cs]
generated_code = true
dotnet_analyzer_diagnostic.severity = none

[Assets/Plugins/**.cs]
generated_code = true
dotnet_analyzer_diagnostic.severity = none

[Assets/Mirror/**.cs]
generated_code = true
dotnet_analyzer_diagnostic.severity = none

                                                  # Name:                                         Before:                                             After:
[Assets/Scripts/**.cs]
dotnet_diagnostic.IDE0044.severity = none
dotnet_diagnostic.IDE0051.severity = none
dotnet_diagnostic.IDE1006.severity = none
dotnet_diagnostic.IDE0060.severity = none
dotnet_diagnostic.IDE0001.severity = warning      # Simplify names                                System.Version version;                             Version version;
dotnet_diagnostic.IDE0002.severity = warning      # Simplify (member access)                      System.Version.Equals("1", "2");                    Version.Equals("1", "2");
dotnet_diagnostic.IDE0005.severity = warning      # Using directive is unnecessary                using System.Text;
dotnet_diagnostic.IDE0030.severity = warning      # Use coalesce expression (nullable)            int? y = x.HasValue ? x.Value : 0                   int? y = x ?? 0;
dotnet_diagnostic.IDE0030WithoutSuggestion.severity = error
dotnet_diagnostic.IDE0079.severity = warning      # Unused suppresion
dotnet_diagnostic.IDE0083.severity = warning      # Use pattern matching
dotnet_diagnostic.IDE0084.severity = warning      # Use IsNot
dotnet_diagnostic.IDE0090.severity = warning      # Use new(...)
dotnet_diagnostic.IDE1006.severity = warning      # Naming styles                                 Task Open()                                         Task OpenAsync()